@using Capstone.Web.Models;
@model LoginViewModel

@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<body class="full_background">
    <div class="container-fluid" style="height: 720px;">
            <div class="login-margin">
                <h1>Login</h1>
                <br />


                @using (Html.BeginForm("Login", "Users", FormMethod.Post))
            {


                    <div class="form-group row boxesPadding">
                        @*<h5> Username </h5>*@
                        <div class="col-sm-4 col-sm-push-4">
                            @Html.TextBoxFor(m => Model.Username, new { @class = "form-control", @placeholder = "Username" })
                            @Html.ValidationMessageFor(m => Model.Username, String.Empty, new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group row">
                        @*<h5>  Password </h5>*@
                        <div class="col-sm-4 col-sm-push-4">
                            @Html.PasswordFor(m => Model.Password, new { @class = "form-control", @placeholder = "Password" })
                            @Html.ValidationMessageFor(m => Model.Password, String.Empty, new { @class = "text-danger" })
                            @Html.ValidationMessage("invalid-login")
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary submit_button">Submit</button>

                }
                <div class="row">
                    <p>Not A Member? Sign Up Today!</p>
                    <a href="@Url.Action("Register", "Users")"><span class="login_register_color"> Register As New User</span></a>
                </div>
            </div>
        </div>
</body>



