@using Capstone.Web.Models
@model MyTripViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid" style="margin-right: -15px;">
    <div class="row" style="background-color: #E14658; color: white;"><h1>New Trip</h1></div>
    <div class="row">
        <!--FILTER SECTION-->
        <div class="col-lg-2 col-height" style="background-color: orange; color: black;">
            <h2>Filter By:</h2>
            @{
                @*<p>
                    <h5>Starting Point</h5>
                    @Html.TextBox("startingPoint", String.Empty, new { @id = "startingPoint", @placeholder = "Starting Address" })
                </p>
                
                <p>
                    <span>Radius (miles)</span>
                    @Html.TextBox("mileRadius", 10, new { type = "number", min = 10, max = 100, step = 10 })
                    <hr />
                </p>*@

                    @*<p>
                        @Html.TextBox("search", String.Empty, new {@id = "searchBar", @placeholder = "Enter Search Terms" })
                        <br />
                        <button id="displaySearchResults"><span class="glyphicon glyphicon-pushpin"></span><h5>Display Search Results</h5></button>
                        <button id="clearSearch"><span class="glyphicon glyphicon-remove-circle"></span><h5>Clear Search Pins</h5></button>
                        <hr />
                    </p>*@

                @*foreach (string category in Model.Categories)
                {
                    <p>
                        @Html.CheckBox(category, false, new { value = category, @class = "category" })
                        <span>@category</span>
                    </p>

                }*@
            }
        </div>

        <!--MAP AND DETAIL SECTIONS-->
        <div class="col-lg-10 col-height">
            <!--MAP-->
            <div class="row" style="background-color: none;">
                <h4 style="color: white;"><span class="glyphicon glyphicon-filter"></span>Filter By:</h4>
                <div id="filterTabs" class="display:inline;">
                    <ul>
                        <li><a href="#filterTabs-category">Category</a></li>
                        <li><a href="#filterTabs-keywordSearch">Keyword Search</a></li>
                        <li><a href="#filterTabs-mileRadius">Mile Radius</a></li>
                    </ul>
                    <div id="filterTabs-category" style="background-color: lightgray;">
                        <ul style="background-color: lightgray;">
                            @foreach (string category in Model.Categories)
                                {
                                    string imageName = category.Replace(" ", "") + "Icon.jpg";
                            <li>
                                @Html.CheckBox(category, false, new { id = category.Replace(" ", ""), value = category, @class = "category", style = "margin-right: 5px; display: none;" })
                                <label for=@category.Replace(" ", "")><img src=@("../Content/Images/Icons/" + imageName) style="height: 50px; margin-right: 4em;"/></label>
                            </li>
                            }
                        </ul>
                    </div>
                    <div id="filterTabs-keywordSearch" style="background-color: lightgray;">
                        @Html.TextBox("search", String.Empty, new { @id = "searchBar", @placeholder = "Enter Search Terms" })
                        <button id="displaySearchResults"><span class="glyphicon glyphicon-pushpin"></span><h5 style="inline-block;">Display Search Results</h5></button>
                        <button id="clearSearch"><span class="glyphicon glyphicon-remove-circle"></span><h5>Clear Search Pins</h5></button>
                    </div>
                    <div id="filterTabs-mileRadius" style="background-color: lightgray;">
                        <span>Starting Point</span>
                        @Html.TextBox("startingPoint", String.Empty, new { @id = "startingPoint", @placeholder = "Starting Address", style = "margin-right: 2%;" })
                        <span>Radius (miles)</span>
                        @Html.TextBox("mileRadius", 10, new { type = "number", min = 10, max = 100, step = 10 })
                    </div>
                </div>
                <div id="map" class="col-lg-12" style="height: 400px;"></div>
            </div>

            <!--DETAILS-->
            <div class="row" style="background-color: yellow; color: black; padding: 20px;">
                <div class="row">
                    <div class="col-lg-6">
                        <img id="landmark_pic" src="~/Content/Images/Casino/Jack_Casino.jpg" style="width: 300px;" alt-text="" />
                    </div>
                    <div class="col-lg-6">
                        <h3 id="landmark_name" style="margin-top: 0px;">Name</h3>
                        <img id="landmark_average_rating" src="#" style="width: 100px; display: block;" />
                        <img id="landmark_relative_cost" src="#" style="width: 100px; display: block;" />
                        <p id="landmark_description"></p>
                        <input type="hidden" id="landmark_id" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6">
                        <h5>Hours</h5>
                        @{
                            string[] daysOfWeek = { "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday", "Sunday" };
                            foreach (string day in daysOfWeek)
                            {
                                <div class="row">
                                    <div class="col-lg-5"><h6>@day</h6></div>
                                    <div class="col-lg-5"><h6 id=@(day + "_hours")></h6></div>
                                </div>
                            }
                        }
                    </div>
                    <div class="col-lg-6">
                        <h4 id="landmark_address_line1"></h4>
                        <h4 id="landmark_address_line2"></h4>
                        <h4 id="landmark_phone_number"></h4>
                        <a id="landmark_website_url" href="#"><span class="glyphicon glyphicon-new-window"></span> Link to External Site</a>
                        <br />
                        <button id="addLandmarkToTripBtn">Add to Trip</button>
                    </div>
                </div>
            </div>
        </div>

        <!--CURRENT TRIP SECTION-->
        <div class="col-lg-4 col-height" style="background-color: #a0f327; color: black;">
            <h2>Current Trip</h2>
            @{
                using (Html.BeginForm("NewTrip", "PlanTrip", FormMethod.Post))
                {
                    <p>
                        <h5>Name</h5>
                        <input type="text" name="MyTripViewModel.TripName" placeholder="My New Trip" />
                        @Html.ValidationMessage("MyTripViewModel.TripName")
                    </p>

                        <p>
                            <h5>Description</h5>
                            <textarea name="MyTripViewModel.TripDescription"></textarea>
                            @Html.ValidationMessageFor(m => Model.TripDescription)
                        </p>
                        <p>
                            <h5>Date</h5>
                            <input type="date" name="MyTripViewModel.TripDate" value="@DateTime.Now.ToString("yyyy-MM-dd")" />
                            @Html.ValidationMessageFor(m => Model.TripDate)
                        </p>

                        <div id="stopContainer" class="row">
                            <div id="stopOrder" class="col-lg-1 text-right"></div>
                            <div id="stops" class="col-lg-10"></div>
                        </div>
                        <br />
                        <button>Save</button>
                }
            }
        </div>
    </div>
</div>


