<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <script src="~/Scripts/jquery-3.1.1.min.js" defer></script>
    <script src="~/Scripts/jquery.validate.min.js" defer></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js" defer></script>
    <script src="~/Scripts/jquery-ui-1.12.1.min.js" defer></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" defer></script>
    <script src="~/Scripts/CategoryPageFilter.js" defer></script>
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBYxMPXOynYi4GV8fthCoCb7xwDirAAJU8"></script>
    <script src="~/Scripts/gmaps.js" defer></script> 
    <script src="~/Scripts/MyTripPage.js" defer></script>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/StyleSheet1.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <div class="navbar navbar-fixed-top">
        @Html.Action("GetAuthenticatedUser", "CityTours")
        <div class="container-fluid" style="background-color: transparent;">
            <ul class="nav navbar-nav navbar">
                <li><a href=@Url.Action("Index", "Home")><span class="glyphicon glyphicon-home"></span></a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Things To Do</a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Restaurants</a></li>
                        <li><a href="#">Sports Venues</a></li>
                        <li><a href="#">Parks</a></li>
                    </ul>
                </li>
                <li>@Html.ActionLink("Plan Trip", "NewTrip", "PlanTrip")</li>
                <li>@Html.ActionLink("About", "Visit", "Home")</li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#"><span class="glyphicon glyphicon-search"></span> Search</a></li>
            </ul>
        </div>
    </div>
    <section style="margin-top: 120px;">
        @RenderBody()
    </section>

</body>
</html>

<footer>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <h4>About Us</h4>
            <p>Cleveland Tours is the final capstone project of four .NET students while attending the Tech Elevator coding
            bootcamp in Cleveland, Ohio.  This website does not own the rights to any of the images shown.</p>
        </div>
        <div class="col-md-3">
            <h4>Collaborated By:</h4>
            <p><a href=" =https://www.linkedin.com/in/launagreer/">Launa Greer</a></p>
            <p><a href="https://www.linkedin.com/in/juna-khatri/">Juna Khatri</a></p>
            <p><a href="https://www.linkedin.com/in/sterling-hanak/">Sterling Hanak</a></p>
            <p><a href="https://www.linkedin.com/in/joshuarodriguez0917/">Joshua Rodriguez</a></p>
        </div>
    </div>
    <p>©2017 - All Rights Reserved.</p>
</footer>
