<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <script src="~/Scripts/jquery-3.1.1.min.js" defer></script>
    <script src="~/Scripts/jquery.validate.min.js" defer></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js" defer></script>
    <script src="~/Scripts/jquery-ui-1.12.1.min.js" defer></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" defer></script>
    <script src="~/Scripts/CategoryPageFilter.js" defer></script>
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBYxMPXOynYi4GV8fthCoCb7xwDirAAJU8"></script>
    <script src="~/Scripts/gmaps.js" defer></script>
    <script src="~/Scripts/NewTripPage.js" defer></script>
    <script src="~/Scripts/MyTripsPage.js" defer></script>
    <script src="~/Scripts/passwordValidation.js" defer></script>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="~/Content/StyleSheet1.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Paytone+One" />
</head>
<body>
    <div class="navbar" style="background-color:#18121E; margin-bottom:0px">
        @Html.Action("GetAuthenticatedUser", "CityTours")
        <div class="container-fluid shared_navbar">
            <ul class="nav navbar-nav navbar">
                <li><a href=@Url.Action("Index", "Home")><span class="glyphicon glyphicon-home" style="color: #FDBB30;"></span></a></li>
                <li>@Html.ActionLink("Things To Do", "Category", "ThingsToDo")</li>
                <li>@Html.ActionLink("Plan Trip", "NewTrip", "PlanTrip")</li>
                <li>@Html.ActionLink("My Trips", "MyTrips", "MyTrips")</li>
                <li>@Html.ActionLink("About", "About", "Home")</li>
            </ul>
        </div>
    </div>
    <section>
        @RenderBody()
    </section>
</body>
</html>
<div class="footer">
    <div class="container-fluid">
        <div class="row">
            
            <div class="col-sm-4" style="display:inline">
                <h4>About Us</h4>
                <p>
                    "This is CLEVELAND"  is the final capstone project <br />of four
                    .NET students from Tech Elevator's <br />coding 
                    bootcamp in Cleveland, Ohio.  This <br />website does not own the rights to any of <br />the images shown.
                </p>
            </div>
            <div class="col-sm-4 col-sm-offset-1">

                <p class="login_register_color"style="color:white"><span class="glyphicon glyphicon-map-marker icon_size">  &nbsp;</span>  7100 Euclid Ave #140, Cleveland, OH 44103</p>
                <p class="login_register_color"style="color:white"><span class="glyphicon glyphicon-earphone icon_size"> &nbsp; </span>877-606-3203</p>
                <p class="login_register_color"style="color:white"><span class="glyphicon glyphicon-envelope icon_size"> &nbsp; </span>hello@techelevator.com</p> 
                
            </div>

            <div class="col-sm-3 collaborators">
                <h4>Collaborated By:</h4>
                <p><a href="https://www.linkedin.com/in/launagreer/"><span class="login_register_color">Launa Greer</span></a></p>
                <p><a href="https://www.linkedin.com/in/juna-khatri/"><span class="login_register_color">Juna Khatri</span></a></p>
                <p><a href="https://www.linkedin.com/in/sterling-hanak/"><span class="login_register_color">Sterling Hanak</span></a></p>
                <p><a href="https://www.linkedin.com/in/joshuarodriguez0917/"><span class="login_register_color">Joshua Rodriguez</span></a></p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-5">
                ©2017 - All Rights Reserved.
            </div>
            <div class="col-sm-5">
                <i class="fa fa-facebook-square fa-2x" aria-hidden="true" style="padding-right: 20px"></i>
                <i class="fa fa-linkedin-square fa-2x" aria-hidden="true" style="padding-right: 20px"></i>
                <i class="fa fa-twitter-square fa-2x" aria-hidden="true" style="padding-right: 20px"></i>
            </div>
        </div>
    </div>
</div>
