@using Capstone.Web.Models.ViewModel;
@using Capstone.Web.Models;
@model ThingsToDoViewModel 

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="category-jumbo">
    @*<img East 4th />*@
    <h2>@Model.Category</h2>
</div>

<div class="row">

<div class="col-md-2 filter-container">
    <h2>Filter</h2>
    <hr />
    <h2>Rating</h2>
    <div class="checkboxContainer">
        <p id="1-rating" class="checkbox_rating">@Html.CheckBox("avgRating-1", true) <img src="~/Content/Images/1-star.png" style="width: 120px"></p>
        <p id="2-rating" class="checkbox_rating">@Html.CheckBox("avgRating-2", true) <img src="~/Content/Images/2-star.png" class ="starStyle"/></p>
        <p id="3-rating" class="checkbox_rating">@Html.CheckBox("avgRating-3", true) <img src="~/Content/Images/3-star.png" class ="starStyle" /></p>
        <p id="4-rating" class="checkbox_rating">@Html.CheckBox("avgRating-4", true) <img src="~/Content/Images/4-star.png" class ="starStyle"/></p>
        <p id="5-rating" class="checkbox_rating">@Html.CheckBox("avgRating-5", true) <img src="~/Content/Images/5-star.png" class ="starStyle" /></p>
    </div>

    <h2>Cost</h2>
    <div class="relative_costContainer">
        <p id="1-cost" class="checkbox_relative_cost">@Html.CheckBox("relative_cost-1", true) $</p>
        <p id="2-cost" class="checkbox_relative_cost">@Html.CheckBox("relative_cost-2", true) $$</p>
        <p id="3-cost" class="checkbox_relative_cost">@Html.CheckBox("relative_cost-3", true) $$$</p>
        <p id="4-cost" class="checkbox_relative_cost">@Html.CheckBox("relative_cost-4", true) $$$$</p>
        <p id="5-cost" class="checkbox_relative_cost">@Html.CheckBox("relative_cost-5", true) $$$$$</p>

    </div>
    <h2>Radius</h2>
        @Html.TextBox("mileRadius", 10, new { type = "number", min = 10, max = 100, step = 10})
</div>

<div class="col-md-10">
<div class="row location-row">
@foreach (Landmark location in Model.Landmarks)
{
    if (location.Categories.Contains(Model.Category))
    {

        string avgRatingClass = location.AvgRating + "-rating";
        string relativeCostClass = location.RelativeCost + "-cost";
        <div class="col-md-4 location-detail @avgRatingClass @relativeCostClass">
        
                <h2>@location.Name</h2>
                <p>@location.Address</p>
                <p><span class="glyphicon glyphicon-phone-alt"></span>  @location.PhoneNumber</p>
                <p>@location.Description</p>
          
                <p><span class="glyphicon glyphicon-globe"></span>  @location.WebsiteUrl</p>
            <button type="submit">Add To Trip</button>
            </div>
       
    }
}
</div>
</div>
</div>
