@using Capstone.Web.Models.ViewModel;
@using Capstone.Web.Models;
@model ThingsToDoViewModel 

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="category-body">

<div class="category-jumbo">
    <h2 id="currentCategoryTitle">@Model.Category</h2>
</div>

<div class=" category-icon-div container-fluid">
    <div>
        <span class="categoryIcons" id="openCatBtn"><img title="More Filter Options" style="height: 40px; width: 40px;" src="~/Content/Images/Icons/FilterIcon.jpg" /></span>
    </div>
    <div>
        <a href="#" class="categoryIcons" value="Restaurants"><img title="Restaurants" style="height: 40px; width: 40px;" src="~/Content/Images/Icons/RestaurantsIcon.jpg" /></a>
    </div>
    <div>
        <a href="#" class="categoryIcons" value="Schools"><img title="Schools" style="height: 40px; width: 40px;" src="~/Content/Images/Icons/SchoolsIcon.jpg" /></a>
    </div>
    <div>
        <a href="#" class="categoryIcons" value="Concert Venues"><img title="Concert Venues" style="height: 40px; width: 40px;" src="~/Content/Images/Icons/ConcertVenuesIcon.jpg" /></a>
    </div>
    <div>
        <a href="#" class="categoryIcons" value="Theatres"><img title="Theatres" style="height: 40px; width: 40px;" src="~/Content/Images/Icons/TheatresIcon.jpg" /></a>
    </div>
    <div>
        <a href="#" class="categoryIcons" value="Libraries and Museums"><img title="Libraries and Museums" style="height: 40px; width: 40px;" src="~/Content/Images/Icons/LibrariesandMuseumsIcon.jpg" /></a>
    </div>
    <div>
        <a href="#" class="categoryIcons" value="Sports Venues"><img title="Sports Venues" style="height: 40px; width: 40px;" src="~/Content/Images/Icons/SportsVenuesIcon.jpg" /></a>
    </div>
    <div>
        <a href="#" class="categoryIcons" value="Nature and Parks"><img title="Nature and Parks" style="height: 40px; width: 40px;" src="~/Content/Images/Icons/NatureandParksIcon.jpg"/></a>
    </div>
    <div>
        <a href="#" class="categoryIcons" value="Shopping Centers"><img title="Shopping Centers" style="height: 40px; width: 40px;" src="~/Content/Images/Icons/ShoppingCentersIcon.jpg" /></a>
    </div>
    <div>
        <a href="#" class="categoryIcons" value="Casino"><img title="Casino" style="height: 40px; width: 40px;" src="~/Content/Images/Icons/CasinoIcon.jpg" /></a>
    </div>
</div>


<div class="col-md-3 filter-container sidenav" id="mySidenav">
    <span id="closeCatBtn" class="closebtn" style="cursor: pointer;">X</span>
    <h2>Filter</h2>
    <hr />
    <h2>Rating</h2>
    <div class="checkboxContainer" style="padding-right: 5px; margin-left: -10px;">
            <p id="1-rating" class="checkbox_rating checkbox-inline" style="margin-left: 10px;  padding-bottom:20px;">@Html.CheckBox("avgRating-1", true) <img src="~/Content/Images/1-star.png" style="width: 110px"></p>
            <p id="2-rating" class="checkbox_rating checkbox-inline" style="padding-bottom:20px">@Html.CheckBox("avgRating-2", true) <img src="~/Content/Images/2-star.png" style="width: 110px" /></p>
            <p id="3-rating" class="checkbox_rating checkbox-inline" style="padding-bottom:20px">@Html.CheckBox("avgRating-3", true) <img src="~/Content/Images/3-star.png" style="width: 110px" /></p>
            <p id="4-rating" class="checkbox_rating checkbox-inline" style="padding-bottom:20px">@Html.CheckBox("avgRating-4", true) <img src="~/Content/Images/4-star.png" style="width: 110px" /></p>
            <p id="5-rating" class="checkbox_rating checkbox-inline" style="padding-bottom:20px">@Html.CheckBox("avgRating-5", true) <img src="~/Content/Images/5-star.png" style="width: 110px" /></p>      
    </div>

    <h2>Cost</h2>
    <div class="relative_costContainer">
        <p id="0-cost" class="checkbox_relative_cost">@Html.CheckBox("relative_cost-0", true) <img src="~/Content/Images/0-cost.png" style="width: 90px"></p>
        <p id="1-cost" class="checkbox_relative_cost">@Html.CheckBox("relative_cost-1", true) <img src="~/Content/Images/1-cost.png" style="width: 90px"></p>
        <p id="2-cost" class="checkbox_relative_cost">@Html.CheckBox("relative_cost-2", true) <img src="~/Content/Images/2-cost.png" style="width: 90px"></p>
        <p id="3-cost" class="checkbox_relative_cost">@Html.CheckBox("relative_cost-3", true) <img src="~/Content/Images/3-cost.png" style="width: 90px"></p>
        <p id="4-cost" class="checkbox_relative_cost">@Html.CheckBox("relative_cost-4", true) <img src="~/Content/Images/4-cost.png" style="width: 90px"></p>
        <p id="5-cost" class="checkbox_relative_cost">@Html.CheckBox("relative_cost-5", true) <img src="~/Content/Images/5-cost.png" style="width: 90px"></p>
    </div>
    <h2>Radius</h2>
        @Html.TextBox("mileRadius", 10, new { type = "number", min = 10, max = 100, step = 10})
</div>


<div class="row location-row">
    @foreach (Landmark location in Model.Landmarks)
    {
        if (location.Categories.Contains(Model.Category))
        {

            string avgRatingClass = location.AvgRating + "-rating";
            string relativeCostClass = location.RelativeCost + "-cost";

            <div class="col-md-4 location-detail @avgRatingClass @relativeCostClass">
                <div class="detail-container">
                    <h2 style="margin-top: 10px; width: 100%; font-size: 25px;">@location.Name</h2>
                    <img  class="img-fluid category-detail-img" src=@("../Content/Images/" + Model.Category + "/" + location.Name.Replace(" ", "_") + ".jpg") />
                </div>
                <div class="overlay" style="color: #cccccc; margin: auto;">
                    <h2 style="margin-top: 10px; font-size: 25px;">@location.Name</h2>
                    <p><span class="glyphicon glyphicon-map-marker"></span> @location.Address</p>
                    <p><span class="glyphicon glyphicon-phone-alt"></span>  @location.PhoneNumber</p>
                    <p style="padding-left: 5px; padding-right: 5px;">@location.Description</p>

                    <p><a href="@("https://" + location.WebsiteUrl)"><span class="glyphicon glyphicon-globe"></span>  @location.WebsiteUrl</a></p>
                    <button class="category-add-btn btn" type="submit" style="color: black;">Add To Trip</button>
                </div>
            </div>
        }
    }
</div>

</div>