@using Capstone.Web.Models.ViewModel;
@using Capstone.Web.Models;
@model ThingsToDoViewModel 

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<body class="category-body">

<div class="category-jumbo">
    <h2 id="currentCategoryTitle">@Model.Category</h2>
</div>

<div class=" category-icon-div container-fluid">
    <div>
        <span id="openCatBtn">     &#9776;</span>
    </div>
    <div>
        <a href="#" class="categoryIcons" id="restaurantIcon" value="Restaurants"><img style="height: 40px; width: 40px;" src="~/Content/Images/Icons/Restaurant.jpg" /></a>
    </div>
    <div>
        <a href="#" class="categoryIcons" id="schoolIcon" value="Schools"><img style="height: 40px; width: 40px;" src="~/Content/Images/Icons/School.jpg" /></a>
    </div>
    <div>
        <a href="#" class="categoryIcons" id="concertIcon" value="Concert Venues"><img style="height: 40px; width: 40px;" src="~/Content/Images/Icons/Concert.jpg" /></a>
    </div>
    <div>
        <a href="#" class="categoryIcons" id="theatreIcon" value="Theatres"><img style="height: 40px; width: 40px;" src="~/Content/Images/Icons/Theatre.jpg" /></a>
    </div>
    <div>
        <a href="#" class="categoryIcons"  id ="museumIcon" value="Libraries and Museums"><img style="height: 40px; width: 40px;" src="~/Content/Images/Icons/Museum.jpg" /></a>
    </div>
    <div>
        <a href="#" class="categoryIcons" id="sportIcon" value="Sports Venues"><img style="height: 40px; width: 40px;" src="~/Content/Images/Icons/Sports.jpg" /></a>
    </div>
    <div>
        <a href="#" class="categoryIcons" id="parkIcon" value="Nature and Parks"><img style="height: 40px; width: 40px;" src="~/Content/Images/Icons/Park.jpg"/></a>
    </div>
    <div>
        <a href="#" class="categoryIcons" id="shoppingIcon" value="Shopping Centers"><img style="height: 40px; width: 40px;" src="~/Content/Images/Icons/Shopping.jpg" /></a>
    </div>
    <div>
        <a href="#" class="categoryIcons" id="casinoIcon" value="Casino"><img style="height: 40px; width: 40px;" src="~/Content/Images/Icons/Casino.jpg" /></a>
    </div>
</div>


<div class="col-md-3 filter-container sidenav" id="mySidenav">
    <span id="closeCatBtn" class="closebtn" style="cursor: pointer;">X</span>
    <h2>Filter</h2>
    <hr />
    <h2>Rating</h2>
    <div class="checkboxContainer" style="padding-right: 5px; margin-left: -10px;">
            <p id="1-rating" class="checkbox_rating checkbox-inline" style="margin-left: 10px;  padding-bottom:20px;">@Html.CheckBox("avgRating-1", true) <img src="~/Content/Images/1-star.png" style="width: 110px"></p>
            <p id="2-rating" class="checkbox_rating checkbox-inline" style="padding-bottom:20px">@Html.CheckBox("avgRating-2", true) <img src="~/Content/Images/2-star.png" style="width: 110px" /></p>
            <p id="3-rating" class="checkbox_rating checkbox-inline" style="padding-bottom:20px">@Html.CheckBox("avgRating-3", true) <img src="~/Content/Images/3-star.png" style="width: 110px" /></p>
            <p id="4-rating" class="checkbox_rating checkbox-inline" style="padding-bottom:20px">@Html.CheckBox("avgRating-4", true) <img src="~/Content/Images/4-star.png" style="width: 110px" /></p>
            <p id="5-rating" class="checkbox_rating checkbox-inline" style="padding-bottom:20px">@Html.CheckBox("avgRating-5", true) <img src="~/Content/Images/5-star.png" style="width: 110px" /></p>      
    </div>

    <h2>Cost</h2>
    <div class="relative_costContainer">
        <p id="0-cost" class="checkbox_relative_cost">@Html.CheckBox("relative_cost-0", true) <img src="~/Content/Images/0-cost.png" style="width: 90px"></p>
        <p id="1-cost" class="checkbox_relative_cost">@Html.CheckBox("relative_cost-1", true) <img src="~/Content/Images/1-cost.png" style="width: 90px"></p>
        <p id="2-cost" class="checkbox_relative_cost">@Html.CheckBox("relative_cost-2", true) <img src="~/Content/Images/2-cost.png" style="width: 90px"></p>
        <p id="3-cost" class="checkbox_relative_cost">@Html.CheckBox("relative_cost-3", true) <img src="~/Content/Images/3-cost.png" style="width: 90px"></p>
        <p id="4-cost" class="checkbox_relative_cost">@Html.CheckBox("relative_cost-4", true) <img src="~/Content/Images/4-cost.png" style="width: 90px"></p>
        <p id="5-cost" class="checkbox_relative_cost">@Html.CheckBox("relative_cost-5", true) <img src="~/Content/Images/5-cost.png" style="width: 90px"></p>
    </div>
    <h2>Radius</h2>
        @Html.TextBox("mileRadius", 10, new { type = "number", min = 10, max = 100, step = 10})
</div>


<div class="row location-row">
    @foreach (Landmark location in Model.Landmarks)
    {
        if (location.Categories.Contains(Model.Category))
        {

            string avgRatingClass = location.AvgRating + "-rating";
            string relativeCostClass = location.RelativeCost + "-cost";

            <div class="col-md-4 location-detail @avgRatingClass @relativeCostClass">
                <div class="detail-container">
                    <h2 style="margin-top: 10px; font-size: 25px;">@location.Name</h2>
                    <img  class="img-fluid category-detail-img" src=@("../Content/Images/" + Model.Category + "/" + location.Name.Replace(" ", "_") + ".jpg") />
                </div>
                <div class="overlay" style="color: #FDBB30; margin: auto;">
                    <h2 style="margin-top: 10px; font-size: 25px;">@location.Name</h2>
                    <p>@location.Address</p>
                    <p><span class="glyphicon glyphicon-phone-alt"></span>  @location.PhoneNumber</p>
                    <p>@location.Description</p>

                    <p><span class="glyphicon glyphicon-globe"></span>  @location.WebsiteUrl</p>
                    <button type="submit">Add To Trip</button>
                </div>
            </div>
        }
    }
</div>

</body>