@using Capstone.Web.Models.ViewModel;
@using Capstone.Web.Models;
@model ThingsToDoViewModel 

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="category-jumbo">
    @*<img East 4th />*@
    <h2>@Model.Category</h2>
</div>

<div class="row">

<div class="col-md-2 filter-container">
    <h2>Filter</h2>
    <hr />
    <h2>Rating</h2>
    <div class="checkbox_rating">
        <p id="1-rating">@Html.CheckBox("avgRating-1", true) One-Star</p>
        <p id="2-rating">@Html.CheckBox("avgRating-1", true) Two-Star</p>
        <p id="3-rating">@Html.CheckBox("avgRating-1", true) Three-Star</p>
        <p id="4-rating">@Html.CheckBox("avgRating-1", true) Four-Star</p>
        <p id="5-rating">@Html.CheckBox("avgRating-1", true) Five-Star</p>
    </div>

    <h2>Cost</h2>
    <div class="relative_cost">
        <p id="checkbox_relative_cost_1">@Html.CheckBox("relative_cost", true) One</p>
        <p id="checkbox_relative_cost_2">@Html.CheckBox("relative_cost", true) Two</p>
        <p id="checkbox_relative_cost_3">@Html.CheckBox("relative_cost", true) Three</p>
        <p id="checkbox_relative_cost_4">@Html.CheckBox("relative_cost", true) Four</p>
        <p id="checkbox_relative_cost_5">@Html.CheckBox("relative_cost", true) Five</p>

    </div>
    <h2>Radius</h2>
        @Html.TextBox("mileRadius", 10, new { type = "number", min = 10, max = 100, step = 10})
</div>

<div class="col-md-10">
<div class="row location-row">
@foreach (Landmark location in Model.Landmarks)
{
    if (location.Categories.Contains(Model.Category))
    {

        string avgRatingClass = location.AvgRating + "-rating";
        string relativeCostClass = location.RelativeCost + "-cost";
        <div class="col-md-4 location-detail @avgRatingClass @relativeCostClass">
        
                <h2>@location.Name</h2>
                <p>@location.Address</p>
                <p><span class="glyphicon glyphicon-phone-alt"></span>  @location.PhoneNumber</p>
                <p>@location.Description</p>
                <p><span class="glyphicon glyphicon-globe"></span>  @location.WebsiteUrl</p>
            </div>
       
    }
}
</div>
</div>

</div>
